MONGODB_URI=mongodb+srv://<username>:<password>@<cluster-url>/<database-name>?retryWrites=true&w=majority
PORT=<---port--->
NODE_MAILER_GMAIL_PASSWORD=<---your_gmail_secret_value--->       //for node mailer
NODE_ENV=<--- production or development--->      
JWT_SECRET=<---your_jwt_secret_value--->
GOOGLEOAUTH_CLIENT_ID=<google-oauth-client-id>
GOOGLEOAUTH_CLIENT_SECRET=<google-oauth-client-secret>
AMADEUS_API_KEY=<amadeus-api-key>
AMADEUS_API_SECRET=<amadeus-api-secret>